.App {
  background-color:#CD5C5C;
  height: 50vw;
  width: 100vw;
}

.header{
  background-color: white;
  height:100vw;
  width: 100vw;
}


.search-bar-container {
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0; 
}

.navbar-container {
  background-color: white; 
  padding: 10px 20px; 
  margin-bottom: 20px;
  top: 0; 
}